### Count words in a text

In [9]:
text = "Generative AI is transforming the world."

In [10]:
count = 0

In [12]:
for word in text:
    count += 1
print(f"Word cound : {count}")

Word cound : 41

In [ ]:
### Count words in a text which are only longer than 3 letters

In [26]:
text = "Generative AI?! is transforming the world."

In [33]:
parts = text.split()
word_count=0
for part in parts:
    cleaned_word = part.strip(".,!?.")
    if len(cleaned_word)>3:
        print(f"words: {cleaned_word}")
        word_count+=1
print(f"Wor_count: {word_count}")

words: Generative
words: transforming
words: world
Wor_count: 3

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
fruits = ["apple", "banana", "cherry"]

In [5]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [6]:
word = "Anilchoudary Rugaramji"
for char in word:
    print(char)

A
n
i
l
c
h
o
u
d
a
r
y

R
u
g
a
r
a
m
j
i

In [8]:
colors = ["red", "green", "blue"]
for index, color in enumerate(colors):
    print(f"{index}:{colors}")

0:['red', 'green', 'blue']
1:['red', 'green', 'blue']
2:['red', 'green', 'blue']

In [9]:
person = {"name": "Alice", "age": 30, "city": "New York"}
for key, value in person.items():
    print(f"{key}->{value}")

name->Alice
age->30
city->New York

In [13]:
# start indexing at eh custom numebring

tasks = ["eat", "code", "sleep"]

for index, task in enumerate(tasks, start=1):
    print(f"Task {index}: {task}")

Task 1: eat
Task 2: code
Task 3: sleep

In [15]:
numbers = [10, 25, 30, 45]
for index, number in enumerate(numbers):
    if number > 20:
        print(f"{number} at the index {index} is greater than 20")

25 at the index 1 is greater than 20
30 at the index 2 is greater than 20
45 at the index 3 is greater than 20

In [19]:
# to print all keys
person = {"name": "Alice", "age": 30}
for key in person:
    print(f"Key: {key}")

Key: name
Key: age

In [23]:
# To print all values
person = {"name":"Alice", "age":23}
for values in person.values():
    print(f"values: {values}")

values: Alice
values: 23

In [24]:
# loop through key and values
for key, values in person.items():
    print(f"{key}->{values}")

name->Alice
age->23

In [ ]:
students = {
    "John": {"math": 90, "science": 85},
    "Jane": {"math": 88, "science": 92}
}
for student, subjects in students.items():
    print(f"{student}'s scores:")
    for subject, score in subjects.items():
        print(f"{subject}: {score}")

John's scores:
  math: 90
  science: 85
Jane's scores:
  math: 88
  science: 92

In [ ]:
school = {
    "Class A": {
        "Alice": {"Math": 85, "English": 78, "Science": 92},
        "Bob": {"Math": 90, "English": 82, "Science": 88}
    },
    "Class B": {
        "Charlie": {"Math": 75, "English": 85, "Science": 80},
        "Diana": {"Math": 95, "English": 90, "Science": 93}
    }
}


for class_name, students in enumerate(school.items()):
    print(f"{class_name} name in the school")
    for student, subjects in enumerate(students.items()):
        print(f"student {student} has these subjects {subjects}")

0 name in the school
student 0 has these subjects Class A
student 1 has these subjects {'Alice': {'Math': 85, 'English': 78, 'Science': 92}, 'Bob': {'Math': 90, 'English': 82, 'Science': 88}}
1 name in the school
student 0 has these subjects Class B
student 1 has these subjects {'Charlie': {'Math': 75, 'English': 85, 'Science': 80}, 'Diana': {'Math': 95, 'English': 90, 'Science': 93}}